In [94]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [95]:
# Read the CSV file into a Pandas DataFrame


df = pd.read_csv('./df_int.csv')
df.head()

,Sleep quality,Time in bed,Wake up,Heart rate,Activity (steps),Stressful day Total,Drank coffee Total,Drank tea Total,Ate late Total,Worked out Total,Fell asleep
0,89,530,0,65,0,0,1,1,0,0,2238
1,100,512,1,59,0,0,0,0,0,0,2257
2,87,442,1,60,0,0,0,1,0,0,2132
3,93,483,1,62,0,1,1,1,0,0,13
4,74,424,1,60,0,0,1,0,0,0,2216

In [96]:
# Assign the data to X and y
# Note: Sklearn requires a two-dimensional array of values
# so we use reshape() to create this
X = df.copy()
X = X.drop(columns=["Wake up"], axis=1)

y = df["Wake up"]

X

,Sleep quality,Time in bed,Heart rate,Activity (steps),Stressful day Total,Drank coffee Total,Drank tea Total,Ate late Total,Worked out Total,Fell asleep
0,89,530,65,0,0,1,1,0,0,2238
1,100,512,59,0,0,0,0,0,0,2257
2,87,442,60,0,0,0,1,0,0,2132
3,93,483,62,0,1,1,1,0,0,13
4,74,424,60,0,0,1,0,0,0,2216
...,...,...,...,...,...,...,...,...,...,...
157,69,511,74,0,0,1,0,0,0,2138
158,83,450,52,0,0,1,1,1,0,2159
159,60,442,56,0,0,1,1,0,1,2257
160,72,493,62,0,0,1,1,0,0,2217
161,93,493,67,0,1,0,1,0,1,2157

In [97]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier


# Use the Sklearn `train_test_split()` function to split the data into training and testing data

from sklearn.model_selection import train_test_split


### BEGIN SOLUTION

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

### END SOLUTION

In [98]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
   max_iter=200,
   random_state=1)

classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [99]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9090909090909091
Testing Data Score: 0.9024390243902439

In [100]:
print(f'Actual:\t\t{list(y_test[:10])}')
print(f'Predicted:\t{list(classifier.predict(X_test[:10]))}')

Actual:		[1, 1, 1, 1, 1, 1, 0, 1, 1, 0]
Predicted:	[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [101]:
# To create predictions for y-values, we used the X_test set:

y_pred = classifier.predict(X_test)

In [102]:
# Score the prediction
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.9024390243902439

In [103]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[ 0  4]
 [ 0 37]]

In [104]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         4
           1       0.90      1.00      0.95        37

    accuracy                           0.90        41
   macro avg       0.45      0.50      0.47        41
weighted avg       0.81      0.90      0.86        41

/Users/danielsquires/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/danielsquires/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/danielsquires/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))