In [26]:
# Read the CSV file into a Pandas DataFrame
import pandas as pd

df = pd.read_csv('./df_int.csv')
df.head()

,Sleep quality,Time in bed,Wake up,Heart rate,Activity (steps),Stressful day Total,Drank coffee Total,Drank tea Total,Ate late Total,Worked out Total,Fell asleep
0,89,530,0,65,0,0,1,1,0,0,2238
1,100,512,1,59,0,0,0,0,0,0,2257
2,87,442,1,60,0,0,0,1,0,0,2132
3,93,483,1,62,0,1,1,1,0,0,13
4,74,424,1,60,0,0,1,0,0,0,2216

In [27]:
from sklearn import svm
df.dtypes

Sleep quality          int64
Time in bed            int64
Wake up                int64
Heart rate             int64
Activity (steps)       int64
Stressful day Total    int64
Drank coffee Total     int64
Drank tea Total        int64
Ate late Total         int64
Worked out Total       int64
Fell asleep            int64
dtype: object

In [28]:
X = df.copy()
X = X.drop(columns=["Wake up"], axis=1)

y = df["Wake up"]

In [29]:
# Splitting into Train and Test sets.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, stratify=y)
X_train.shape

(121, 10)

## Create SVM Model

In [30]:
# Instantiate a linear SVM model
from sklearn.svm import LinearSVC
clf = svm.LinearSVC()
# Fit the data
clf.fit(X_train, y_train)
LinearSVC()




# create predictions with the model:
y_pred = clf.predict(X_test)
results = pd.DataFrame({
   "Prediction": y_pred,
   "Actual": y_test
}).reset_index(drop=True)


results.dtypes

/Users/danielsquires/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/svm/_base.py:986: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

Prediction    int64
Actual        int64
dtype: object

In [31]:
# Score the model using the test data
clf.score(X_test, y_test)

0.9024390243902439

In [32]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

from sklearn.metrics import classification_report

In [33]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         4
           1       0.90      1.00      0.95        37

    accuracy                           0.90        41
   macro avg       0.45      0.50      0.47        41
weighted avg       0.81      0.90      0.86        41

/Users/danielsquires/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/danielsquires/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/danielsquires/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [34]:
results = pd.DataFrame({
   "Prediction": y_pred,
   "Actual": y_test
}).reset_index(drop=True)
results.head()

   Prediction  Actual
0           1       1
1           1       0
2           1       1
3           1       1
4           1       1

In [35]:
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])