In [10]:
import pandas as pd
from pymongo import MongoClient
#pip install pymongo[srv]

def read_mongo(db, collection, query={}, host='localhost', port=27017, username=None, password=None, no_id=True):
    # Read from Mongo and Store into DataFrame """
    # Connect to MongoDB
    dbo  = MongoClient("mongodb+srv://MegSpeaks:yVy84qWWLzS9sQx@getsleepy.itaka.mongodb.net/test")

    # Make a query to the specific DB and Collection
    cursor = dbo[db][collection].find(query)

    # Expand the cursor and construct the DataFrame
    df =  pd.DataFrame(list(cursor))

    # Delete the _id
    if no_id:
        del df['_id']

    return df

In [33]:
df = read_mongo("Sleep_Study", "Sleep_Table")

In [34]:
df

,Start,End,Sleep quality,Time in bed,Wake up,Heart rate,Activity (steps),Stressful day Total,Drank coffee Total,Drank tea Total,Ate late Total,Worked out Total,
0,12/29/2014 22:57,12/30/2014 7:30,100%,8:32,:),59,0,0,0,0,0,0,
1,12/30/2014 21:17,12/30/2014 21:33,3%,0:16,:|,72,0,1,0,0,0,0,
2,12/30/2014 22:42,12/31/2014 7:13,98%,8:30,:|,57,0,0,0,0,0,0,
3,12/31/2014 22:31,1/1/2015 6:03,65%,7:32,,,0,0,0,0,0,0,
4,1/1/2015 22:12,1/2/2015 4:56,72%,6:44,:),68,0,0,1,1,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
882,2/12/2018 21:54,2/13/2018 7:02,91%,9:08,,,56,0,0,0,0,0,
883,2/13/2018 23:49,2/14/2018 7:00,81%,7:11,,,64,0,0,0,0,0,
884,2/14/2018 21:24,2/15/2018 6:20,71%,8:56,,,3316,0,0,0,0,0,
885,2/15/2018 21:36,2/16/2018 6:50,80%,9:13,,,6555,0,0,0,0,0,
886,2/16/2018 22:52,2/17/2018 7:48,91%,8:55,,,2291,0,0,0,0,0,

In [35]:
df.dtypes

Start                  object
End                    object
Sleep quality          object
Time in bed            object
Wake up                object
Heart rate             object
Activity (steps)       object
Stressful day Total    object
Drank coffee Total     object
Drank tea Total        object
Ate late Total         object
Worked out Total       object
                       object
dtype: object

In [36]:
df['Start'] = pd.to_datetime(df["Start"])

In [37]:
df['End'] = pd.to_datetime(df["End"])
df.dtypes

Start                  datetime64[ns]
End                    datetime64[ns]
Sleep quality                  object
Time in bed                    object
Wake up                        object
Heart rate                     object
Activity (steps)               object
Stressful day Total            object
Drank coffee Total             object
Drank tea Total                object
Ate late Total                 object
Worked out Total               object
                               object
dtype: object

In [38]:
df['Sleep quality'] = df['Sleep quality'].str.replace('%', '')

In [42]:
df['Sleep quality'] = df['Sleep quality'].astype('int')
df['Activity (steps)'] = df['Activity (steps)'].astype('int')
df['Stressful day Total'] = df['Stressful day Total'].astype('int')
df['Drank coffee Total'] = df['Drank coffee Total'].astype('int')
df['Drank tea Total'] = df['Drank tea Total'].astype('int')
df['Ate late Total'] = df['Ate late Total'].astype('int')
df['Worked out Total'] = df['Worked out Total'].astype('int')
df['Heart rate'] = df['Heart rate'].astype('int')

ValueError: invalid literal for int() with base 10: ''

In [41]:
df.dtypes

Start                  datetime64[ns]
End                    datetime64[ns]
Sleep quality                   int32
Time in bed                    object
Wake up                        object
Heart rate                     object
Activity (steps)                int32
Stressful day Total             int32
Drank coffee Total              int32
Drank tea Total                 int32
Ate late Total                  int32
Worked out Total                int32
                               object
dtype: object