In [45]:
import pandas as pd
from pymongo import MongoClient
#pip install pymongo[srv]

def read_mongo(db, collection, query={}, host='localhost', port=27017, username=None, password=None, no_id=True):
    # Read from Mongo and Store into DataFrame """
    # Connect to MongoDB
    dbo  = MongoClient("mongodb+srv://MegSpeaks:yVy84qWWLzS9sQx@getsleepy.itaka.mongodb.net/test")

    # Make a query to the specific DB and Collection
    cursor = dbo[db][collection].find(query)

    # Expand the cursor and construct the DataFrame
    df =  pd.DataFrame(list(cursor))

    # Delete the _id
    if no_id:
        del df['_id']

    return df

In [46]:
df = read_mongo("Sleep_Study", "Sleep_Table")

In [47]:
df

,Start,End,Sleep quality,Time in bed,Wake up,Heart rate,Activity (steps),Stressful day Total,Drank coffee Total,Drank tea Total,Ate late Total,Worked out Total,
0,12/31/2014 22:31,1/1/2015 6:03,65%,7:32,,,0,0,0,0,0,0,
1,1/10/2015 22:38,1/11/2015 7:28,89%,8:50,:|,65,0,0,1,1,0,0,
2,12/29/2014 22:57,12/30/2014 7:30,100%,8:32,:),59,0,0,0,0,0,0,
3,1/15/2015 21:32,1/16/2015 4:54,87%,7:22,:),60,0,0,0,1,0,0,
4,1/31/2015 0:13,1/31/2015 8:17,93%,8:03,:),62,0,1,1,1,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
882,12/17/2017 21:35,12/18/2017 6:08,80%,8:33,,,5184,0,0,0,0,0,
883,1/1/2018 21:30,1/2/2018 5:56,81%,8:25,,,2544,0,0,0,0,0,
884,1/9/2018 22:22,1/10/2018 6:23,90%,8:01,,,4529,0,0,0,0,0,
885,1/29/2018 21:37,1/30/2018 6:01,79%,8:23,,,107,0,0,0,0,0,
886,2/3/2018 8:32,2/3/2018 9:08,8%,0:36,,,166,0,0,0,0,0,

In [48]:
# df.dtypes

for column in df.columns:
    print(f"Column {column} has {df[column].isnull().sum()} null values")
df.head()
df = df.dropna()

Column Start has 0 null values
Column End has 0 null values
Column Sleep quality has 0 null values
Column Time in bed has 0 null values
Column Wake up has 0 null values
Column Heart rate has 0 null values
Column Activity (steps) has 0 null values
Column Stressful day Total has 0 null values
Column Drank coffee Total has 0 null values
Column Drank tea Total has 0 null values
Column Ate late Total has 0 null values
Column Worked out Total has 0 null values
Column  has 0 null values

In [49]:

# df['Heart rate'] = df['Heart rate'].astype('int')

time_strs = df['Time in bed'].str.split(":")
time_strs

time_strs.apply(lambda x: int(x[1]) + int(x[0]) * 60)

0      452
1      530
2      512
3      442
4      483
      ...
882    513
883    505
884    481
885    503
886     36
Name: Time in bed, Length: 887, dtype: int64

In [60]:
df['Start'] = pd.to_datetime(df["Start"])

AttributeError: 'DataFrame' object has no attribute 'Parse'

In [51]:
df['End'] = pd.to_datetime(df["End"])
df.dtypes

Start                  datetime64[ns]
End                    datetime64[ns]
Sleep quality                  object
Time in bed                    object
Wake up                        object
Heart rate                     object
Activity (steps)               object
Stressful day Total            object
Drank coffee Total             object
Drank tea Total                object
Ate late Total                 object
Worked out Total               object
                               object
dtype: object

In [52]:
df['Sleep quality'] = df['Sleep quality'].str.replace('%', '')

In [53]:
df['Sleep quality'] = df['Sleep quality'].astype('int')
df['Activity (steps)'] = df['Activity (steps)'].astype('int')
df['Stressful day Total'] = df['Stressful day Total'].astype('int')
df['Drank coffee Total'] = df['Drank coffee Total'].astype('int')
df['Drank tea Total'] = df['Drank tea Total'].astype('int')
df['Ate late Total'] = df['Ate late Total'].astype('int')
df['Worked out Total'] = df['Worked out Total'].astype('int')
df['Heart rate'] = df['Heart rate'].astype('int')

ValueError: invalid literal for int() with base 10: ''

In [41]:
df.dtypes

Start                  datetime64[ns]
End                    datetime64[ns]
Sleep quality                   int32
Time in bed                    object
Wake up                        object
Heart rate                     object
Activity (steps)                int32
Stressful day Total             int32
Drank coffee Total              int32
Drank tea Total                 int32
Ate late Total                  int32
Worked out Total                int32
                               object
dtype: object

In [ ]:
from sklearn import