In [1]:
import pandas as pd
from pymongo import MongoClient
#pip install pymongo[srv]

def read_mongo(db, collection, query={}, host='localhost', port=27017, username=None, password=None, no_id=True):
    # Read from Mongo and Store into DataFrame """
    # Connect to MongoDB
    dbo  = MongoClient("mongodb+srv://MegSpeaks:yVy84qWWLzS9sQx@getsleepy.itaka.mongodb.net/test")

    # Make a query to the specific DB and Collection
    cursor = dbo[db][collection].find(query)

    # Expand the cursor and construct the DataFrame
    df =  pd.DataFrame(list(cursor))

    # Delete the _id
    if no_id:
        del df['_id']

    return df

In [2]:
#create DataFrame from the data stored in Mongo Atlas
df = read_mongo("Sleep_Study", "Sleep_Table")

In [3]:
df

,Start,End,Sleep quality,Time in bed,Wake up,Heart rate,Activity (steps),Stressful day Total,Drank coffee Total,Drank tea Total,Ate late Total,Worked out Total,
0,12/31/2014 22:31,1/1/2015 6:03,65%,7:32,,,0,0,0,0,0,0,
1,1/10/2015 22:38,1/11/2015 7:28,89%,8:50,:|,65,0,0,1,1,0,0,
2,12/29/2014 22:57,12/30/2014 7:30,100%,8:32,:),59,0,0,0,0,0,0,
3,1/15/2015 21:32,1/16/2015 4:54,87%,7:22,:),60,0,0,0,1,0,0,
4,1/31/2015 0:13,1/31/2015 8:17,93%,8:03,:),62,0,1,1,1,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
882,12/17/2017 21:35,12/18/2017 6:08,80%,8:33,,,5184,0,0,0,0,0,
883,1/1/2018 21:30,1/2/2018 5:56,81%,8:25,,,2544,0,0,0,0,0,
884,1/9/2018 22:22,1/10/2018 6:23,90%,8:01,,,4529,0,0,0,0,0,
885,1/29/2018 21:37,1/30/2018 6:01,79%,8:23,,,107,0,0,0,0,0,
886,2/3/2018 8:32,2/3/2018 9:08,8%,0:36,,,166,0,0,0,0,0,

In [4]:
# # #export the cleaned csv
# output_file_path = "./df_raw.csv"
# df.to_csv(output_file_path, index=False)

In [5]:
#Check data types to prepare for preporcessing
df.dtypes

Start                  object
End                    object
Sleep quality          object
Time in bed            object
Wake up                object
Heart rate             object
Activity (steps)       object
Stressful day Total    object
Drank coffee Total     object
Drank tea Total        object
Ate late Total         object
Worked out Total       object
                       object
dtype: object

In [6]:
#change Date to datetime
df['Start'] = pd.to_datetime(df["Start"])

In [7]:
#change Date to datetime
df['End'] = pd.to_datetime(df["End"])
df.dtypes

Start                  datetime64[ns]
End                    datetime64[ns]
Sleep quality                  object
Time in bed                    object
Wake up                        object
Heart rate                     object
Activity (steps)               object
Stressful day Total            object
Drank coffee Total             object
Drank tea Total                object
Ate late Total                 object
Worked out Total               object
                               object
dtype: object

In [8]:
#change Column to integer
df['Sleep quality'] = df['Sleep quality'].str.replace('%', '')

In [9]:
#change Column to integer
df['Sleep quality'] = df['Sleep quality'].astype('int64')
df['Activity (steps)'] = df['Activity (steps)'].astype('int64')
df['Stressful day Total'] = df['Stressful day Total'].astype('int64')
df['Drank coffee Total'] = df['Drank coffee Total'].astype('int64')
df['Drank tea Total'] = df['Drank tea Total'].astype('int64')
df['Ate late Total'] = df['Ate late Total'].astype('int64')
df['Worked out Total'] = df['Worked out Total'].astype('int64')

In [10]:
#Remove Rogue "" column
df = df.drop(columns=[""], axis=1)

In [11]:
#Remove "Wake up", "Heart rate" columns, too many missing
df = df.drop(columns=["Wake up", "Heart rate"])

In [12]:
# df['Heart rate'].isnull().sum(axis = 0)
# df['Wake up'].notnull().sum(axis = 0)
df

,Start,End,Sleep quality,Time in bed,Activity (steps),Stressful day Total,Drank coffee Total,Drank tea Total,Ate late Total,Worked out Total
0,2014-12-31 22:31:00,2015-01-01 06:03:00,65,7:32,0,0,0,0,0,0
1,2015-01-10 22:38:00,2015-01-11 07:28:00,89,8:50,0,0,1,1,0,0
2,2014-12-29 22:57:00,2014-12-30 07:30:00,100,8:32,0,0,0,0,0,0
3,2015-01-15 21:32:00,2015-01-16 04:54:00,87,7:22,0,0,0,1,0,0
4,2015-01-31 00:13:00,2015-01-31 08:17:00,93,8:03,0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...
882,2017-12-17 21:35:00,2017-12-18 06:08:00,80,8:33,5184,0,0,0,0,0
883,2018-01-01 21:30:00,2018-01-02 05:56:00,81,8:25,2544,0,0,0,0,0
884,2018-01-09 22:22:00,2018-01-10 06:23:00,90,8:01,4529,0,0,0,0,0
885,2018-01-29 21:37:00,2018-01-30 06:01:00,79,8:23,107,0,0,0,0,0
886,2018-02-03 08:32:00,2018-02-03 09:08:00,8,0:36,166,0,0,0,0,0

In [13]:
#check rows for null values

df.notnull().sum(axis = 1)

0      10
1      10
2      10
3      10
4      10
       ..
882    10
883    10
884    10
885    10
886    10
Length: 887, dtype: int64

In [14]:
time_strs = df["Time in bed"].str.split(":")
time_strs

0      [7, 32]
1      [8, 50]
2      [8, 32]
3      [7, 22]
4      [8, 03]
        ...
882    [8, 33]
883    [8, 25]
884    [8, 01]
885    [8, 23]
886    [0, 36]
Name: Time in bed, Length: 887, dtype: object

In [15]:
# change Time in Bed column from string H:MM into int(minutes)
df["Time in bed"] = time_strs.apply(lambda x: int(x[1]) + (int(x[0]) * 60))

In [16]:
df['Fell asleep'] = (df['Start'].dt.hour * 100) + df['Start'].dt.minute

In [17]:
df = df.drop(columns=["Start", "End"], axis=1)
df.dtypes

Sleep quality          int64
Time in bed            int64
Activity (steps)       int64
Stressful day Total    int64
Drank coffee Total     int64
Drank tea Total        int64
Ate late Total         int64
Worked out Total       int64
Fell asleep            int64
dtype: object

In [18]:
df

,Sleep quality,Time in bed,Activity (steps),Stressful day Total,Drank coffee Total,Drank tea Total,Ate late Total,Worked out Total,Fell asleep
0,65,452,0,0,0,0,0,0,2231
1,89,530,0,0,1,1,0,0,2238
2,100,512,0,0,0,0,0,0,2257
3,87,442,0,0,0,1,0,0,2132
4,93,483,0,1,1,1,0,0,13
...,...,...,...,...,...,...,...,...,...
882,80,513,5184,0,0,0,0,0,2135
883,81,505,2544,0,0,0,0,0,2130
884,90,481,4529,0,0,0,0,0,2222
885,79,503,107,0,0,0,0,0,2137
886,8,36,166,0,0,0,0,0,832

In [ ]:
 # #export the cleaned csv
# output_file_path = "./df_transformed.csv"
# df.to_csv(output_file_path, index=False)

### Load, fit, train, predict models:

In [168]:
from sklearn import svm
X = df.copy()
X = X.drop(columns=["Sleep quality"], axis=1)
y = df["Sleep quality"]

In [169]:
# Splitting into Train and Test sets.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [174]:
from sklearn import neighbors
knn = neighbors.KNeighborsClassifier(n_neighbors=8)
knn.fit_transform(X)

AttributeError: 'KNeighborsClassifier' object has no attribute 'fit_transform'

In [172]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(5)
poly.fit_transform(X)

array([[1.00000000e+00, 4.52000000e+02, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 5.52710674e+16],
       [1.00000000e+00, 5.30000000e+02, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 5.61436199e+16],
       [1.00000000e+00, 5.12000000e+02, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 5.85676496e+16],
       ...,
       [1.00000000e+00, 4.81000000e+02, 4.52900000e+03, ...,
        0.00000000e+00, 0.00000000e+00, 5.41651903e+16],
       [1.00000000e+00, 5.03000000e+02, 1.07000000e+02, ...,
        0.00000000e+00, 0.00000000e+00, 4.45679451e+16],
       [1.00000000e+00, 3.60000000e+01, 1.66000000e+02, ...,
        0.00000000e+00, 0.00000000e+00, 3.98672823e+14]])

In [173]:
# Accuracy Score
#Estimator score method

#Metric scoring functions
knn.score(X_test, y_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

NotFittedError: This KNeighborsClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [162]:
# from sklearn.svm import LinearSVC
# clf = svm.LinearSVC()
# clf.fit(X_train, y_train)
# LinearSVC()

In [163]:
# clf.score(X_test, y_test)

In [164]:
# clf.predict([[72,480,56,0,0,1,1,0,1,2219]])

In [165]:
# ypred = clf.predict(X_test)

In [167]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

NameError: name 'y_pred' is not defined

In [31]:
report = classification_report(y_test, ypred)
print(report)

              precision    recall  f1-score   support

          :)       0.93      1.00      0.96        38
          :|       0.00      0.00      0.00         3

    accuracy                           0.93        41
   macro avg       0.46      0.50      0.48        41
weighted avg       0.86      0.93      0.89        41

C:\Users\jdlew\.conda\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\jdlew\.conda\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\jdlew\.conda\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [32]:
results = pd.DataFrame({
   "Prediction": ypred,
   "Actual": y_test
}).reset_index(drop=True)
results.head()

  Prediction Actual
0         :)     :)
1         :)     :)
2         :)     :)
3         :)     :)
4         :)     :)

In [34]:
ypred

array([':)', ':)', ':)', ':)', ':)', ':)', ':)', ':)', ':)', ':)', ':)',
       ':)', ':)', ':)', ':)', ':)', ':)', ':)', ':)', ':)', ':)', ':)',
       ':)', ':)', ':)', ':)', ':)', ':)', ':)', ':)', ':)', ':)', ':)',
       ':)', ':)', ':)', ':)', ':)', ':)', ':)', ':)'], dtype=object)

In [47]:
from joblib import load, dump
dump(clf, "clf.joblib")

['clf.joblib']

In [46]:
import os
os.getcwd()

'C:\\Users\\jdlew\\Desktop\\Bootcamp Data Files\\CapStone'

In [48]:
model = load("clf.joblib")

In [49]:
model.predict([[72,480,56,0,0,1,1,0,1,2219]])

array([':)'], dtype=object)