In [328]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.tree import DecisionTreeRegressor

In [329]:
df = pd.read_csv(Path('./df_transformed.csv'))
df.head()

,Sleep quality,Time in bed,Activity (steps),Stressful day Total,Drank coffee Total,Drank tea Total,Ate late Total,Worked out Total,Fell asleep
0,65,452,0,0,0,0,0,0,2231
1,89,530,0,0,1,1,0,0,2238
2,100,512,0,0,0,0,0,0,2257
3,87,442,0,0,0,1,0,0,2132
4,93,483,0,1,1,1,0,0,13

In [330]:
df_binary_encoded = pd.get_dummies(df, columns=["Stressful day Total", "Drank coffee Total", "Drank tea Total", "Ate late Total", "Worked out Total"])
df_binary_encoded.head()

,Sleep quality,Time in bed,Activity (steps),Fell asleep,Stressful day Total_0,Stressful day Total_1,Drank coffee Total_0,Drank coffee Total_1,Drank tea Total_0,Drank tea Total_1,Ate late Total_0,Ate late Total_1,Worked out Total_0,Worked out Total_1
0,65,452,0,2231,1,0,1,0,1,0,1,0,1,0
1,89,530,0,2238,1,0,0,1,0,1,1,0,1,0
2,100,512,0,2257,1,0,1,0,1,0,1,0,1,0
3,87,442,0,2132,1,0,1,0,0,1,1,0,1,0
4,93,483,0,13,0,1,0,1,0,1,1,0,1,0

In [331]:
df_binary_encoded.shape

(887, 14)

In [332]:
X = df_binary_encoded.drop('Sleep quality', axis=1)

y = df_binary_encoded.iloc[:,0].copy()

In [333]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [334]:
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()

In [335]:
df_scaled = data_scaler.fit_transform(X_train)

In [336]:
df_scaled[:5]

array([[-0.10497786, -0.77149819,  0.4102385 ,  0.27891896, -0.27891896,
        -0.82162216,  0.82162216, -1.00754728,  1.00754728,  0.17609018,
        -0.17609018, -1.18352103,  1.18352103],
       [-0.49690355,  0.71419117,  0.51789419,  0.27891896, -0.27891896,
         1.21710447, -1.21710447,  0.99250926, -0.99250926,  0.17609018,
        -0.17609018,  0.8449364 , -0.8449364 ],
       [ 0.19193554, -0.77149819,  0.23738289,  0.27891896, -0.27891896,
        -0.82162216,  0.82162216,  0.99250926, -0.99250926,  0.17609018,
        -0.17609018,  0.8449364 , -0.8449364 ],
       [ 0.52447854,  0.03523028,  0.3238107 ,  0.27891896, -0.27891896,
        -0.82162216,  0.82162216, -1.00754728,  1.00754728,  0.17609018,
        -0.17609018, -1.18352103,  1.18352103],
       [ 0.21568861,  1.03432151,  0.25557822,  0.27891896, -0.27891896,
         1.21710447, -1.21710447,  0.99250926, -0.99250926,  0.17609018,
        -0.17609018,  0.8449364 , -0.8449364 ]])

In [337]:
import numpy as np
print(np.mean(df_scaled[:,0]))
print(np.std(df_scaled[:,0]))

-1.389030912012226e-16
1.0

In [338]:
df = pd.DataFrame(df_scaled)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-0.104978,-0.771498,0.410239,0.278919,-0.278919,-0.821622,0.821622,-1.007547,1.007547,0.17609,-0.17609,-1.183521,1.183521
1,-0.496904,0.714191,0.517894,0.278919,-0.278919,1.217104,-1.217104,0.992509,-0.992509,0.17609,-0.17609,0.844936,-0.844936
2,0.191936,-0.771498,0.237383,0.278919,-0.278919,-0.821622,0.821622,0.992509,-0.992509,0.17609,-0.17609,0.844936,-0.844936
3,0.524479,0.035230,0.323811,0.278919,-0.278919,-0.821622,0.821622,-1.007547,1.007547,0.17609,-0.17609,-1.183521,1.183521
4,0.215689,1.034322,0.255578,0.278919,-0.278919,1.217104,-1.217104,0.992509,-0.992509,0.17609,-0.17609,0.844936,-0.844936

In [339]:

y.head()

0     65
1     89
2    100
3     87
4     93
Name: Sleep quality, dtype: int64

In [340]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [341]:
from sklearn.linear_model import LinearRegression
linear = LinearRegression()
linear

LinearRegression()

In [342]:
# Train the data
linear.fit(X_train, y_train)

LinearRegression()

In [343]:
# Predict outcomes for test data set
y_pred = linear.predict(X_test)
pd.DataFrame({"Prediction": y_pred, "Actual": y_test})

     Prediction  Actual
522   80.772393      79
314   79.054583      86
768   79.260579      73
320   71.616312      72
809   70.284922      74
..          ...     ...
35    76.282396      64
46    78.570687      80
255   77.138954      78
670   81.788098      96
744   82.677151      82

[222 rows x 2 columns]

In [344]:
# from sklearn.metrics import accuracy_score

linear.score(X_train, y_train)

0.603248893596652

In [345]:

classo = Lasso()
classo

Lasso()

In [346]:
# Train the data
classo.fit(X_train, y_train)

Lasso()

In [347]:
# Predict outcomes for test data set
y_pred = classo.predict(X_test)
pd.DataFrame({"Prediction": y_pred, "Actual": y_test})

     Prediction  Actual
522   79.229796      79
314   78.748267      86
768   77.738577      73
320   69.543845      72
809   69.110962      74
..          ...     ...
35    75.095852      64
46    77.403848      80
255   75.095852      78
670   80.663491      96
744   84.031245      82

[222 rows x 2 columns]

In [348]:
classo.score(X_train, y_train)

0.5945859973126337

In [349]:
# .............

In [350]:
ridge = Ridge()
ridge

Ridge()

In [351]:
# Train the data
ridge.fit(X_train, y_train)

Ridge()

In [352]:
# Predict outcomes for test data set
y_pred = ridge.predict(X_test)
pd.DataFrame({"Prediction": y_pred, "Actual": y_test})

     Prediction  Actual
522   80.763934      79
314   79.058355      86
768   79.259823      73
320   71.608941      72
809   70.287187      74
..          ...     ...
35    76.276822      64
46    78.572625      80
255   77.131503      78
670   81.782649      96
744   82.679206      82

[222 rows x 2 columns]

In [353]:
ridge.score(X_train, y_train)

0.6032485121634987

In [354]:
# ...........

In [355]:
decision = DecisionTreeRegressor()

In [356]:
decision.fit(X_train, y_train)

DecisionTreeRegressor()

In [357]:
# Predict outcomes for test data set
y_pred = decision.predict(X_test)
pd.DataFrame({"Prediction": y_pred, "Actual": y_test})

     Prediction  Actual
522        70.0      79
314        95.0      86
768        71.0      73
320        82.0      72
809        75.0      74
..          ...     ...
35         79.0      64
46         77.0      80
255        79.0      78
670        64.0      96
744        82.0      82

[222 rows x 2 columns]

In [358]:
decision.score(X_train, y_train)

1.0

In [359]:
!pip install joblib

Requirement already satisfied: joblib in /Users/danielsquires/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages (1.1.0)

In [360]:
from joblib import load, dump
dump(linear, "linear.joblib")

['linear.joblib']

In [361]:
import os
os.getcwd()

'/Users/danielsquires/Desktop/Modeling/2nd_modeling_target_sleep_quality'

In [362]:
model = load("linear.joblib")